/* noto-sans-sc-100 - latin_chinese-simplified */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 100;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-100.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-100.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-300 - latin_chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-300.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-300.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-regular - latin_chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-regular.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-regular.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-500 - latin_chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-500.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-500.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-700 - latin_chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-700.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-700.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-900 - latin_chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 900;
    src: url('noto-sans-sc-v12-latin_chinese-simplified-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('noto-sans-sc-v12-latin_chinese-simplified-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('noto-sans-sc-v12-latin_chinese-simplified-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-900.woff') format('woff'), /* Modern Browsers */
         url('noto-sans-sc-v12-latin_chinese-simplified-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('noto-sans-sc-v12-latin_chinese-simplified-900.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }