@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Google-Sans_400_normal.eot); /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpy0.eot */
    src: local('☺'),
        url(Google-Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpy0.eot */
        url(Google-Sans_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpyk.woff2 */
        url(Google-Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpy8.woff */
        url(Google-Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpyzAFyo4d4k.ttf */
        url(Google-Sans_400_normal.svg#Google-Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpy4&skey=c30756b8cf584a60&v=v45#GoogleSans */
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    src: url(Google-Sans_500_normal.eot); /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpy0.eot */
    src: local('☺'),
        url(Google-Sans_500_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpy0.eot */
        url(Google-Sans_500_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpyk.woff2 */
        url(Google-Sans_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpy8.woff */
        url(Google-Sans_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpyzAFyo4d4k.ttf */
        url(Google-Sans_500_normal.svg#Google-Sans_500_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpy4&skey=c30756b8cf584a60&v=v45#GoogleSans */
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    src: url(Google-Sans_700_normal.eot); /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpy0.eot */
    src: local('☺'),
        url(Google-Sans_700_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpy0.eot */
        url(Google-Sans_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpyk.woff2 */
        url(Google-Sans_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpy8.woff */
        url(Google-Sans_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpyzAFyo4d4k.ttf */
        url(Google-Sans_700_normal.svg#Google-Sans_700_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrzjJ5llpy4&skey=c30756b8cf584a60&v=v45#GoogleSans */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(Roboto_300_normal.eot); /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc8.eot */
    src: local('☺'),
        url(Roboto_300_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc8.eot */
        url(Roboto_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2 */
        url(Roboto_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc-.woff */
        url(Roboto_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9AMP6lQ.ttf */
        url(Roboto_300_normal.svg#Roboto_300_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5fBBc_&skey=11ce8ad5f54705ca&v=v30#Roboto */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto_400_normal.eot); /* http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxO.eot */
    src: local('☺'),
        url(Roboto_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxO.eot */
        url(Roboto_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2 */
        url(Roboto_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxM.woff */
        url(Roboto_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxPKTU1Kg.ttf */
        url(Roboto_400_normal.svg#Roboto_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v30#Roboto */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(Roboto_500_normal.eot); /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc8.eot */
    src: local('☺'),
        url(Roboto_500_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc8.eot */
        url(Roboto_500_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2 */
        url(Roboto_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc-.woff */
        url(Roboto_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc9AMP6lQ.ttf */
        url(Roboto_500_normal.svg#Roboto_500_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmEU9fBBc_&skey=ee881451c540fdec&v=v30#Roboto */
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url(Noto-Sans-SC_400_normal.eot); /* http://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALRLoKM.eot */
    src: local('☺'),
        url(Noto-Sans-SC_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALRLoKM.eot */
        url(Noto-Sans-SC_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALRLoKI.woff2 */
        url(Noto-Sans-SC_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALRLoKO.woff */
        url(Noto-Sans-SC_400_normal.ttf) format('truetype'), /* {{truetype-gf-url}} */
        url(Noto-Sans-SC_400_normal.svg#Noto-Sans-SC_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=k3kXo84MPvpLmixcA63oeALRLoKP&skey=cf0bb10b5602fdc3&v=v26#NotoSansSC */
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url(Noto-Sans-SC_500_normal.eot); /* http://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGd9i__.eot */
    src: local('☺'),
        url(Noto-Sans-SC_500_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGd9i__.eot */
        url(Noto-Sans-SC_500_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGd9i_7.woff2 */
        url(Noto-Sans-SC_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/notosanssc/v26/k3kIo84MPvpLmixcA63oeALZ3aGd9i_9.woff */
        url(Noto-Sans-SC_500_normal.ttf) format('truetype'), /* {{truetype-gf-url}} */
        url(Noto-Sans-SC_500_normal.svg#Noto-Sans-SC_500_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=k3kIo84MPvpLmixcA63oeALZ3aGd9i_8&skey=80663169997273a5&v=v26#NotoSansSC */
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto-Mono_400_normal.eot); /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW8.eot */
    src: local('☺'),
        url(Roboto-Mono_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW8.eot */
        url(Roboto-Mono_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2 */
        url(Roboto-Mono_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW-.woff */
        url(Roboto-Mono_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW9AJi8SKQu.ttf */
        url(Roboto-Mono_400_normal.svg#Roboto-Mono_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW_&skey=7b92570108d40690&v=v22#RobotoMono */
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto-Mono_700_normal.eot); /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW8.eot */
    src: local('☺'),
        url(Roboto-Mono_700_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW8.eot */
        url(Roboto-Mono_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW4.woff2 */
        url(Roboto-Mono_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW-.woff */
        url(Roboto-Mono_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW9AJi8SKQu.ttf */
        url(Roboto-Mono_700_normal.svg#Roboto-Mono_700_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2_ROW_&skey=7b92570108d40690&v=v22#RobotoMono */
}
